/* I feel that I have a lot to work on in respect to my CSS, but I expect to improve over time.*/
#main {
    display: grid;
    max-width: 100%;
    font-size: 1.3rem;
    color: black;
    line-height: 1.6rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 5px 5px;
    box-shadow: 5px 10px 18px 0
      rgb(0, 0, 0, 0.3);
    background-color: lightgray;
    text-align: center;
  }
  #title {
    display: grid;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: chocolate;
    border-radius: 25px;
    box-shadow: 0 10px 16px 0 darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  h1{
    font-size:2rem;
    margin-bottom: 5;
  }
  #img-div {
    background-color: lightgray;
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin: 1;
  }
  #image {
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  #img-caption {
    width: 70%;
    padding: 12px;
    box-shadow: 4px 8px 15px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  #tribute-info {
    background-color: chocolate;
    text-align: justify;
    padding: 12px;
    opacity: 0.8;
    display: grid;
    width: 80%;
    height: auto;
    box-shadow: 0 10px 16px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 12px;
  }
  blockquote {
    text-align: center;
  }
  cite {
    text-align: center;
    line-height: 0.09rem;
  }
  #more-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }